* {
    box-sizing: border-box;
    font-family: PixelFont;
}

@font-face {
    font-family: "PixelFont";
    src: url(../../fonts/thatthatnewpixelfamilytest-square.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PixelFont";
    src: url(../../fonts/thatthatnewpixelfamilytest-italicsquare.otf) format("opentype");
    font-weight: normal;
    font-style: italic;
}  

header {
    display: flex;
    height: 7vh;
    justify-content: center;
    align-items: end;
    align-content: baseline;
    margin: 0;
    padding: 10px;
    padding-bottom: 0px;
    width: 100%;
    border-bottom: 1px solid black;
}

body {
    width: 100%;
    padding: 0;
}

header div {
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 30px;
    width: 50%;
    padding: 0;
    margin: 0;
    height: 100%;
}

header h1 {
    font-family: "PixelFont";
    font-style: italic;
    font-weight: normal;
    font-size: 50px;
}

header p, header label {
    font-family: "PixelFont";
    font-size: 20px;    
}

#title {
    height: fit-content;
    line-height: 0px;
}

#DialogueHeader {
    justify-content: end;
    padding-right: 30px;
    gap: 10px;
    display: flex;
    align-items: center;
}

#addNewDialogue {
    margin-right: 100px;
}

main {
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#viewer {
    font-family: "PixelFont";
    font-size: 20px;
    line-height: 15px;
    margin-left: 20px;
}

#DialogueTitle {
    margin-bottom: 50px;
}

#editor {
    border-right: 1px solid black;
}

#editor h2 {
    margin-bottom: 10px;
}

#dialogue details p {
    margin-left: 30px;
}

#contextMenu {
    display: none;
}

nav {
    display: none;
}

footer {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-family: "PixelFont";
    font-size: 20px;  
    border-top: 1px solid black;
}

button {
    font-family: "PixelFont";
}

footer button {
    font-size: 17px;
}

#upload {
    padding-left: 20px;
    padding-right: 20px;
}

#replyEditor {
    display: none;
}

#replyEditor form {
    margin-top: 20px;
}

#replyEditor form button{
    margin-top: 20px;
}

#Empty {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#EmptyForm {
    gap: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

#DialogueTextArea {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
}

#DialogueTextArea textarea {
    width: 100%;
    height: 50px;
}

#LineEditor {
    display: none;
}

#LineEditor form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin-top: 10px;
}

dialog {
    width: 40vw;
}

#NewDialogue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#NewDialogue div label {
    font-size: 30px;
}

#NewDialogue div {
    margin-bottom: 40px;
}

#NewDialogue label {
    font-size: 20px;
}

#NewDialogue textarea {
    margin-bottom: 10px;
}

#NewDialogue button {
    margin-bottom: 10px;
}
