* {
    box-sizing: border-box;
}

@font-face {
    font-family: "PixelFont";
    src: url(./fonts/thatthatnewpixelfamilytest-square.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PixelFont";
    src: url(./fonts/thatthatnewpixelfamilytest-italicsquare.otf);
    font-weight: normal;
    font-style: italic;
}


#dialogue {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: fit-content;
    container-type: inline-size;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    row-gap: 80px;
    color: #332421;
}

#currentLine {
    height: 570px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    width: 90%;
    font-family: PixelFont;
    background-image: url(./images/dialogueBox.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-clip: border-box;
    overflow: visible;
    gap: 0;

}

#SpeakerDialogue {
    width: 80%;
    text-align: center;
}

#speakerLine {
    position: absolute;
    top: 95px;
    text-align: start;
    width: 70%;
    font-family: PixelFont;
    font-size: 70px;
    font-style: italic;
}

#replies {
    height: fit-content;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: end;
    justify-items: center;
    padding: 10px;
    font-size: 40px;
    row-gap: 10px;
    font-family: PixelFont;
    position: relative;
    margin-right: 100px;
}



#replies div {
    padding: 5px;
    border: 1px solid black;
    min-width: 500px;
    text-align: center;
    max-width: 50%;
    overflow-wrap: break-word;
}

#replies div:hover {
    text-decoration: underline;
}

